<p id="notice"><%= notice %></p>

<% if @posts.any? %>
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-header">
        <h5 class="text-muted">By <%= post.user.email %></h5>
        <h6 class="text-muted">Created at <%= post.created_at.strftime("%Y-%m-%d") %></h6>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <%= link_to 'Show', post, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
        <%= link_to 'Destroy', post, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="card-footer">
        <ul class="list-inline">
          <% post.tags.each do |tag| %>
              <li class="list-inline-item">
                <%= link_to tag.title, filter_path(tag_title: tag.title)%>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <br>
  <% end %>
<% else %>
  <div class="show-no-posts">
    <h2>Sorry we haven`t posts yet</h2>
    <br>
    <br>
    <h3><%= link_to "Add the first one", new_post_path %></h3>
  </div>
<% end %>

<% if @posts.all.count > 5 %>
  <div class="apple_pagination">
    <%= will_paginate @posts, :container => false %>
  </div>
<% end %>
<br>


