<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h5 class="text-muted">By <%= @post.user.email %></h5>
    <h6 class="text-muted">Created at <%= @post.created_at.strftime("%Y-%m-%d") %></h6>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.content %></p>
    <%= link_to 'Like', post_likes_path(@post), method: :post, class: "btn btn-info" %>
    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <%= link_to 'Show', @post, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %>
    <%= link_to 'Destroy', @post, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
  </div>
  <div class="card-footer">
    <ul class="list-inline">
      <% @post.tags.each do |tag| %>
          <li class="list-inline-item">
            <%= link_to tag.title, filter_path(tag_title: tag.title)%>
          </li>
      <% end %>
    </ul>
    <hr>

    <h2>Comments</h2>
    <%= render @post.comments %>

    <h2>Add a comment:</h2>
    <%= render "comments/form" %>

  </div>
</div>
<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
